* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px;

  color: #000000;
  font-family: sans-serif;
  font-size: 1em;
}

body > * {
  margin-bottom: 30px;
}

label {
  margin-bottom: 10px;
}

#resize-wrapper {
  display: grid;

  width: 100%;
  max-width: 960px;
}

#resize-wrapper::after {
  content: attr(data-replicated-value) " ";

  white-space: pre-wrap;

  visibility: hidden;
}

#text-input {
  resize: none;

  overflow: hidden;
}

#text-input,
#resize-wrapper::after {
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  grid-area: 1 / 1 / 2 / 2;
}

#submit {
  padding: 2px 6px
}

#text-output {
  white-space: pre-wrap;
}
